<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Poly-Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BackofficePfa.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <header>
        @if (ViewData["HideNavbar"] == null || !(bool)ViewData["HideNavbar"]){
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="user-select:none">Poly-Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-people"></i>
                                    Students
                                </button>
                                <ul class="dropdown-menu" style="padding:8px">
                                    <li><a class="dropdown-item" asp-controller="Students" asp-action="Add"><i class="bi bi-person-plus-fill" style="margin-right:5px"></i>Add a student</a></li>
                                    <li><a class="dropdown-item" asp-controller="Students" asp-action="List"><i class="bi bi-eye-fill" style="margin-right:5px"></i>View Students List</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-people-fill"></i>
                                    Instructors
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Instructor" asp-action="Add"><i class="bi bi-person-plus-fill" style="margin-right:5px"></i>Add an Instructor</a></li>
                                    <li><a class="dropdown-item" asp-controller="Instructor" asp-action="List"><i class="bi bi-eye-fill" style="margin-right:5px"></i>View Instructors List</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-people-fill"></i>
                                    Staff & Personnel
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="Add"><i class="bi bi-person-plus-fill" style="margin-right:5px"></i>Add Staff & Personnel</a></li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="List"><i class="bi bi-eye-fill" style="margin-right:5px"></i>View List</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Logout</a>
                            </li>
                        </ul>
                </div>
            </div>
        </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container text-center" style="cursor:pointer">
            &copy; 2024 - Poly-Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
