@{
    ViewData["Title"] = "Home Page";
    DateTime now = DateTime.Now;
    string formattedDate = now.ToString("dd-MM-yyyy HH:mm:ss");
}
<body>
<div class="text-center">
    <h1 class="display-4">Welcome back</h1>
</div>
    <div class="mb-4">
    <p class="display-4" style="font-size:22px; font-weight:300">@now.ToString("f")</p>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card mx-3" style="width: 20rem; background-color:#3C5B6F; border:none">
            <div class="card-body">
                <h5 class="card-title" style="color:white">Students</h5>
                <p class="card-text" style="color:white">You have 128 student registered</p>
                <a href="#" class="card-link" style="color:white">Card link</a>
            </div>
         </div>
        <div class="card mx-3" style="width: 20rem; background-color:#948979;  border:none">
        <div class="card-body">
            <h5 class="card-title" style="color:white">Instructors</h5>
                <p class="card-text" style="color:white">You have 36 Instructor registered</p>
                <a href="#" class="card-link" style="color:white">Card link</a>
        </div>
        </div>
        <div class="card mx-3" style="width: 20rem; background-color:#DFD0B8;  border:none">
        <div class="card-body">
            <h5 class="card-title" style="color:white">Staff</h5>
                <p class="card-text" style="color:white">You have 12 Instructor registered</p>
                <a href="#" class="card-link" style="color:white">Card link</a>
        </div>
    </div>
</div>
</body>