@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center mb-5" style="cursor:pointer">Privacy Policy | Politique de confidentialité.</h1>
<h5>EN</h5>
<p>
    This project was developed as an end-of-year project, also known as <b>"PFA"</b>. It features an admin panel that enables administrators at <b><i>The Private Polytechnic School of Monastir</i></b> to <u>add</u>, <u>edit</u> and even <u>delete</u> students, instructors and staff.<br />
    For the realization of this project, I have chosen the following technologies : <b>C#, ASP.NET Core 8 MVC, Bootstrap and MS SQL Server.</b> For the deployment, <b>Microsoft Azure</b> was the choice.
</p>
<hr />
<h5>FR</h5>
<p>
    Ce projet a été développé comme projet de fin d'année, également connu sous <b>"PFA"</b>.  Il comporte un panneau d'administration qui permet aux administrateurs de <b><i>l'École Polytechnique Privée de Monastir</i></b> d' <u>Ajouter</u>, <u>Modifier</u> et <u>Supprimer</u> des étudiants, des instructeurs et du personnel.<br />
    Pour la réalisation de ce projet, j'ai choisi les technologies suivantes : <b>C#, ASP.NET Core 8 MVC, Bootstrap and MS SQL Server.</b> Pour le déploiement, j'ai choisi <b>Microsoft Azure</b>.
</p>
<hr />
<p class="text-center" style="font-weight:500">Sofien <b>BENKTIB</b> - Polytech Monastir</p>