@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BackofficePfa.Models.Entities.Instructor

@if (Model is null)
{
    <p>No instructor for this ID</p>
}
<h1>Edit Instructor</h1>
<form method="post" class="card p-md-3">
    <div class="mt-3">
        <label class="form-label" for="id">Id :</label>
        <input type="text" name="id" class="form-control mb-3" asp-for="Id" readonly />
        <label class="form-label" for="name">Full Name :</label>
        <input type="text" name="name" placeholder="Full Name" class="form-control mb-3" asp-for="Name" />
        <label class="form-label" for="Email">Email :</label>
        <input type="email" name="Email" placeholder="JohnDoe@mail.com" class="form-control  mb-3" asp-for="Email" />
        <label class="form-label" for="Number">Phone Number :</label>
        <input type="text" name="Number" placeholder="54111000" class="form-control  mb-3" asp-for="Phone" />
        <label class="form-label" for="section">Subject :</label>
        <select name="Subject" id="form-control" class="form-select  mb-3" asp-for="Subject">
            <option value="">Please choose an option</option>
            <option value="OOP">OOP</option>
            <option value="Angular">Angular</option>
            <option value="DevOps">DevOps</option>
            <option value="Design Patterns">Design Patterns</option>
            <option value="Algebra">Algebra</option>
            <option value="English">English</option>
            <option value="Design Patterns">Design Patterns</option>
            <option value="Python">Python</option>
            <option value="ASP.NET Core">ASP.NET Core</option>
            <option value="QA">QA</option>
        </select><br />
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="nightclasses">
            <label class="form-check-label" for="flexCheckChecked">
                Available for night classes and weekends
            </label>
        </div><br />
        <button type="submit" value="Save changes" class="form-control btn btn-success mb-1">Save changes</button>
        <button class="form-control btn btn-danger" asp-controller="Instructor" asp-action="Delete">Delete</button>
    </div>
</form>